<div class="row-fluid">
  <ul id="filters" class="nav nav-pills text-center span12">
  {{#each filters}}
    <li {{bindAttr class="isSelected:disabled"}} style="width: 20%;">
      <a {{action "applyFilter" this}}>{{name}}</a>
    </li>
  {{/each}}
  </ul>
</div>

<ol id="results">
  {{#each videos itemController="video"}}
  <li class="clearfix">
    {{#linkTo "video" this classNames="thumb"}}
      <img {{bindAttr src="thumbnail"}} class="thumbnail thumbnail_med_wide">
    {{/linkTo}}
    {{partial 'data'}}
  </li>
  {{/each}}
</ol>

{{#unless videos.isLoaded}}
{{partial 'loader'}}
{{/unless}}