{{#if isLoaded}}
<div id="video">
  <div class="above_link clearfix">
    <a href="javascript:history.back();" class="back_button">&laquo; search results</a>
    <a {{bindAttr href="chooseVideoLink"}} class="btn btn-mini btn-primary pull-right">Embed Video</a>
  </div>

  <div class="flex-video widescreen vimeo">
    {{{oembed.html}}}
  </div>

  <div class="data">
    <h2 class="title"><span class="faux_link">{{title}}</span></h2>
    <div class="duration">{{minutes}}</div>
    <p class="meta">
      from <span class="username">{{userName}}</span> /
      Added <time {{bindAttr datetime=upload_date title=upload_date}}>{{addedTimeAgo}}</time>
    </p>
    <p class="count">
      <span class="plays">{{number_of_plays}} Plays</span> /
      <span class="likes">{{number_of_likes}} Likes</span> /
      <span class="comments">{{number_of_comments}} Comments</span>
    </p>
    <p class="description">{{description}}</p>
  </div>
</div>

{{else}}
{{partial 'loader'}}
{{/if}}
